/* THEORY */
.theory {
   margin: 10px 0;
}
/* Content */
.idioms-one__link {
   text-decoration: none;
}
/* Test */
.task {
   margin: 0 0 10px;
}
.tasks-result {
   margin: 15px 0 25px;
}
.tasks-translate-one {
   margin: 0 0 10px;
}
.task-text-paragraph {
   display: inline;
}
.missed, .missed-select, .missed__feedback {
   width: fit-content;
   display: inline!important;
}