/* THEORY */
.theory {
   margin: 10px 0;
}
/* Content */
.idioms-one__link {
   text-decoration: none;
}
/* Summary */
.article-point {
   margin-bottom: 0px;
}
.summary-one-meaning, .summary-one-examples {
   margin-top: 5px;
}
.summary-one-origin {
   margin-top: 5px;
}
.examples-list-item-text__rus {
   color: #a6a6a6
}
/* Test */
.task {
   margin: 0 0 10px;
}
.tasks-result {
   margin: 15px 0 25px;
}
.task-one {
   margin: 0 0 10px;
}
.input-table {
   border-collapse: separate;
   border-spacing: 50px 0;
}
.row-table-cell {
   padding: 10px 0;
}
.task-text {
   display: inline;
}
.missed, .missed-select, .missed__feedback {
   width: fit-content;
   display: inline;
}